<div class="playlist-details_container">
    @if(!name) {

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Sorry, no details found</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <a mat-stroked-button [routerLink]="['/']">Back to Playlist Search</a>
        </mat-card-actions>
    </mat-card>
    } @else {
    <mat-card appearance="outlined">

        <mat-card-content>
            <h2>{{name}}</h2>
            @if(kind) {
            <p>Type: {{kind}}</p>
            }
            @if(curator_name){
            <p>Curator: {{curator_name}}</p>
            }

            @if (artwork) {
            <img [src]="artwork" alt="playlist image" />
            }

        </mat-card-content>
        <mat-card-actions>
            <a mat-stroked-button [href]="url">Open in Music</a>
            <a mat-stroked-button [routerLink]="['/']">Back to
                Playlist Search</a>
        </mat-card-actions>

    </mat-card>
    }
</div>