<div class="about">
    <h1>About</h1>
    <p>
        This application uses the playlist API as the source of data, the API provides a list of playlists that can be
        searched and displayed. The application uses Angular to create a single-page application that allows users to
        search for playlists and view details about a selected playlist. The application uses Angular Material
        components to create a responsive and visually appealing user interface.
    </p>
    <p>
        This application is uses Angular version 18.2, along with Angular Material version 12.2 and the NgRx Signal
        Store to manage the application state. The application uses the Angular Router to navigate between different
        views and the Angular HttpClient to make requests to the playlist API.
    </p>
</div>