<table mat-table [dataSource]="store.filterableplaylists().content">


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="kind">
        <th mat-header-cell *matHeaderCellDef> Kind </th>
        <td mat-cell *matCellDef="let element" class="kind_cell"> {{element.kind}} </td>
    </ng-container>

    <ng-container matColumnDef="curator">
        <th mat-header-cell *matHeaderCellDef> Curator </th>
        <td mat-cell *matCellDef="let element"> {{element.curator_name}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-stroked-button (click)="onAction(element)">View Details</button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>